Django>=5.2.0,<6.0.0
djangorestframework>=3.16.0
pandas>=2.2.0
drf-yasg>=1.21.0
colorlog>=6.9.0
coreapi>=2.3.3
numpy>=1.23.0
python-dateutil>=2.8.2
pytz>=2023.3
sqlparse>=0.4.0
pyyaml>=6.0
uritemplate>=4.1.1 